In [1]:
import pandas as pd

data = {
    'age': [22, 28, 19, 30, 25, 27, 24, 21, 29, 23],
    'goals': [10, 15, 8, 5, 11, 7, 13, 6, 9, 12],
    'assists': [5, 6, 3, 2, 4, 5, 7, 1, 3, 6],
    'appearances': [25, 30, 20, 28, 27, 26, 30, 19, 29, 24],
    'club_rank': [1, 2, 5, 3, 2, 4, 1, 6, 3, 2],
    'position': ['Forward', 'Midfielder', 'Forward', 'Defender', 'Forward',
                 'Midfielder', 'Forward', 'Defender', 'Midfielder', 'Forward'],
    'market_value': [60, 50, 40, 30, 55, 45, 65, 25, 48, 58]
}

df = pd.DataFrame(data)
df

   age  goals  assists  appearances  club_rank    position  market_value
0   22     10        5           25          1     Forward            60
1   28     15        6           30          2  Midfielder            50
2   19      8        3           20          5     Forward            40
3   30      5        2           28          3    Defender            30
4   25     11        4           27          2     Forward            55
5   27      7        5           26          4  Midfielder            45
6   24     13        7           30          1     Forward            65
7   21      6        1           19          6    Defender            25
8   29      9        3           29          3  Midfielder            48
9   23     12        6           24          2     Forward            58

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder

# Convert position (text) to numbers using label encoding
le = LabelEncoder()
df['position_encoded'] = le.fit_transform(df['position'])

In [4]:
df

,age,goals,assists,appearances,club_rank,position,market_value,position_encoded
0,22,10,5,25,1,Forward,60,1
1,28,15,6,30,2,Midfielder,50,2
2,19,8,3,20,5,Forward,40,1
3,30,5,2,28,3,Defender,30,0
4,25,11,4,27,2,Forward,55,1
5,27,7,5,26,4,Midfielder,45,2
6,24,13,7,30,1,Forward,65,1
7,21,6,1,19,6,Defender,25,0
8,29,9,3,29,3,Midfielder,48,2
9,23,12,6,24,2,Forward,58,1

In [6]:
# Define features (X) and target/label (y)
X = df[['age', 'goals', 'assists', 'appearances', 'club_rank', 'position_encoded']]
y = df['market_value']

# Train the model using all data (no test split for now)
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X, y)

print("Model trained on full dataset.")

Model trained on full dataset.

In [7]:
# Predict market value for a new player
# Example: 24 years, 12 goals, 5 assists, 28 appearances, top club, Forward

sample = [[24, 12, 5, 28, 1, le.transform(['Forward'])[0]]]

prediction = model.predict(sample)
print("Predicted Market Value (€ million):", round(prediction[0], 2))

Predicted Market Value (€ million): 60.55

C:\Users\AMAN\player-value-ai\venv\lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [8]:
import pandas as pd

# Create the input as a DataFrame (to match training format)
sample_df = pd.DataFrame([{
    'age': 24,
    'goals': 12,
    'assists': 5,
    'appearances': 28,
    'club_rank': 1,
    'position_encoded': le.transform(['Forward'])[0]
}])

# Make prediction
prediction = model.predict(sample_df)
print("Predicted Market Value (€ million):", round(prediction[0], 2))

Predicted Market Value (€ million): 60.55

In [9]:
import joblib

joblib.dump(model, 'player_value_model.pkl')
joblib.dump(le, 'label_encoder.pkl')

['label_encoder.pkl']